{% extends 'base.html.twig' %}

{% block body %}

    <h1>{{ product.title }}</h1>

    <ul>
        <li>SKU - {{ product.sku }}</li>
        <li>Price - {{ product.price }}</li>
    </ul>

{% endblock %}
